# Descriptive Statistics: Measures of Central Tendency

## Midrange

 The mid-range or mid-extreme is a measure of central tendency of a sample defined as the arithmetic mean of the maximum and minimum values of the data set.

### Formula
$$M=\frac{\max x + \min x}{2}$$

### Example (midrange)

In [1]:
import pandas as pd
import numpy as np

In [7]:
data = [2, 3, 6, 8, 4, 1]
midrange = (np.max(data) + np.min(data)) / 2
midrange

np.float64(4.5)

### Exercises (midrange)

#### Exercise 1 (midrange)

A company asked customers to rate a service on a scale of 1 to 100 and recorded the 24 most recent ratings in the table below. Identify the midrange of the ratings.

In [8]:
customer_ratings = [92, 80, 86, 76, 81, 65, 71, 96, 90, 62, 69, 75, 70, 83, 94, 85, 89, 85, 78, 73, 88, 95, 75, 80]

In [10]:
df = pd.DataFrame(customer_ratings)
midrange = (np.max(customer_ratings) + np.min(customer_ratings)) / 2
midrange

np.float64(79.0)

In [11]:
df.describe()

               0
count  24.000000
mean   80.750000
std     9.597328
min    62.000000
25%    74.500000
50%    80.500000
75%    88.250000
max    96.000000

In [12]:
df.median()

0    80.5
dtype: float64

##### Exercise 2 (midrange)

Below a list of the average daily high temperature, in degrees Celsius, for the first six months of the year in Barrow, Alaska. Calculate the midrange for daily high temperature during this time period.

>  -22 -  23   -22   -14  -4    -2

In [15]:
temperature = [-22, -23, -22, -14, -4, -2]
midrange = (np.max(temperature) + np.min(temperature)) / 2
midrange

np.float64(-12.5)

In [16]:
df = pd.DataFrame(temperature)
df.describe()

               0
count   6.000000
mean  -14.500000
std     9.502631
min   -23.000000
25%   -22.000000
50%   -18.000000
75%    -6.500000
max    -2.000000

In [18]:
np.mean(temperature)

np.float64(-14.5)

In [19]:
np.median(temperature)

np.float64(-18.0)