# Descriptive Statistics: Measures of Central Tendency

## Mode

The value (or values) in a set of data values that appears most frequently.

> Some sets of data values have no mode because all the unique values appear the same number of times. Other sets of data values can have more than one mode, such as the get-ready times that several earlier worked-out problems used.

As with the median, extreme values do not affect the mode. However, unlike with the median, the mode can vary much more from sample to sample than can the median or the mean.

*(Synonyms: modal value, modal average)*

### Examples (mode)

#### Example 1 (mode)

In [3]:
import pandas as pd
import numpy as np
import statistics as sts
from scipy import stats

In [4]:
mode_data = [1, 1, 2, 3, 7,8]

In [5]:
df = pd.DataFrame(mode_data)
df.mode()

   0
0  1

In [6]:
sts.mode(mode_data)

1

#### Example 2 (mode)

Bi-modal

In [8]:
bimode_data = [1, 1, 2, 3, 7, 8, 8]

In [9]:
df = pd.DataFrame(bimode_data)
df.mode()

   0
0  1
1  8

**Note**: the statistics `mode()` function in Python will return the first mode it finds. If there are multiple modes, it will return the first one it iterates. The function `multimode()` will, instead, return a list of modes.
Not very handy, as it is not possible to know how many modes there are in a large dataset.

In [10]:
sts.mode(bimode_data)

1

In [12]:
sts.multimode(bimode_data)

[1, 8]

The scipy `mode()` function has the same behavior.

In [15]:
stats.mode(bimode_data)

ModeResult(mode=np.int64(1), count=np.int64(2))

#### Example 3 (mode)

No mode: more than two modes

In [8]:
trimode_data = [1, 1, 2, 3, 7, 8, 8, 7]

In [9]:
df = pd.DataFrame(trimode_data)

In [10]:
df.mode()

   0
0  1
1  7
2  8

<p>&#128681;</p>

**Despite Pandas calculating the mode, a "tri-mode" (or more) is not accepted in statistics.**

In [18]:
no_mode = [1, 2, 3, 4, 5, 6]

In [19]:
df = pd.DataFrame(no_mode)

In [20]:
df.mode()

   0
0  1
1  2
2  3
3  4
4  5
5  6

<p>&#128270;</p> When there is no mode, Pandas will return <i>all values</i> in the dataset.

In [21]:
sts.mode(no_mode)

1

<p>&#128681;</p>
When there is no mode, the statistics <code>mode()</code> function will return the first value in the dataset.

#### Example 4 (mode)

In [13]:
ages = np.random.randint(18, 90, 500)
ages

array([78, 56, 52, 38, 23, 72, 33, 29, 46, 78, 73, 51, 57, 29, 29, 80, 31,
       86, 46, 64, 68, 75, 72, 88, 87, 46, 39, 54, 63, 36, 38, 88, 40, 57,
       34, 24, 36, 57, 29, 74, 59, 26, 41, 89, 39, 41, 29, 40, 83, 38, 44,
       35, 31, 25, 35, 48, 73, 53, 60, 38, 18, 47, 78, 71, 82, 65, 30, 42,
       81, 34, 66, 89, 51, 85, 84, 84, 55, 41, 37, 75, 71, 32, 19, 88, 26,
       33, 86, 42, 67, 42, 81, 64, 77, 41, 49, 61, 60, 24, 70, 64, 27, 35,
       26, 64, 79, 70, 68, 67, 88, 82, 27, 48, 54, 19, 58, 35, 49, 77, 29,
       89, 61, 53, 57, 32, 72, 31, 71, 82, 62, 37, 52, 86, 44, 84, 78, 43,
       30, 54, 74, 41, 36, 61, 47, 70, 40, 53, 77, 66, 89, 64, 80, 89, 33,
       54, 61, 82, 61, 39, 49, 23, 31, 28, 70, 65, 66, 18, 22, 21, 85, 70,
       25, 46, 37, 19, 23, 36, 45, 63, 67, 34, 72, 80, 34, 64, 54, 66, 42,
       54, 86, 81, 50, 74, 36, 85, 51, 34, 67, 72, 87, 53, 51, 26, 26, 30,
       85, 25, 20, 37, 19, 86, 25, 73, 19, 48, 71, 60, 30, 59, 44, 46, 71,
       47, 85, 48, 56, 32, 45, 68, 33, 85, 36, 87, 84, 26, 32, 70, 39, 78,
       51, 49, 81, 77, 28, 88, 59, 85, 56, 26, 86, 30, 56, 65, 41, 85, 48,
       23, 59, 70, 40, 49, 64, 45, 67, 57, 28, 39, 36, 81, 82, 65, 79, 70,
       58, 52, 18, 30, 51, 58, 78, 72, 75, 66, 72, 51, 61, 48, 67, 43, 63,
       34, 70, 32, 57, 78, 63, 84, 76, 62, 83, 34, 20, 26, 25, 53, 88, 63,
       44, 63, 57, 38, 47, 42, 73, 54, 40, 85, 29, 68, 26, 25, 84, 19, 81,
       43, 80, 57, 29, 19, 48, 67, 84, 34, 30, 40, 47, 66, 79, 76, 25, 66,
       86, 39, 24, 49, 82, 72, 70, 38, 57, 44, 66, 36, 44, 20, 18, 83, 60,
       70, 80, 83, 21, 59, 57, 19, 24, 65, 87, 37, 41, 89, 49, 58, 75, 36,
       84, 32, 40, 49, 88, 62, 40, 32, 25, 69, 27, 31, 25, 76, 50, 35, 84,
       48, 88, 68, 60, 50, 25, 67, 24, 86, 30, 22, 78, 81, 57, 81, 67, 29,
       26, 84, 52, 29, 31, 71, 70, 85, 56, 72, 61, 89, 33, 82, 67, 50, 40,
       79, 72, 36, 50, 34, 46, 57, 48, 20, 70, 18, 74, 49, 55, 48, 26, 33,
       18, 63, 85, 35, 50, 62, 25, 87, 25, 44, 52, 88, 61, 52, 58, 51, 24,
       85, 87, 59, 51, 56, 75, 75, 54, 37, 88, 52, 43, 34, 51, 46, 81, 67,
       34, 34, 38, 81, 63, 50, 36, 83, 38, 67, 76, 88, 46, 86, 28, 45, 52,
       57, 32, 44, 55, 68, 71, 28], dtype=int32)

In [15]:
stats.mode(ages)

ModeResult(mode=np.int32(57), count=np.int64(13))

### Exercises (mode)

##### Exercise 1 (mode)

The data below lists daily demand for hammers at a hardware store over the last 20 days. Identify the mode.

In [16]:
hammers = [2, 1, 0, 2, 1, 3, 0, 2, 4, 0, 3, 2, 3, 4, 2, 2, 2, 4, 3, 0]

In [17]:
df = pd.DataFrame(hammers)

In [18]:
df.mode()

   0
0  2

 A grocery store records the time, in minutes, required to check out nine randomly selected customers. Identify the mode of this data set.

In [19]:
minutes = [3, 4, 2, 5, 4, 1, 5, 5, 4]

In [20]:
df = pd.DataFrame(minutes)

In [21]:
df.mode()

   0
0  4
1  5